# Requirements for running experiments
numpy
pandas
scikit-learn
joblib
torch
transformers
tqdm
fire
pycortex
datalad
imodelsx
openai
accelerate
datasets
ratelimit
requests
dict_hash
ridge_utils
tabpfn
